.pricing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  background-color: #000000;
  color: #ffffff;
  position: relative;
  overflow-x: hidden;
}

