header {
  background: transparent;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  & .links-container {
    display: flex;
    justify-content: flex-end;
  }
}
.links-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  h4 {
    z-index: 9999;
    margin: 1.5rem .25rem;
    a {
      transition: all 250ms ease-in-out;
      color: #ffffff;
      text-decoration: none;
      margin: 0 1rem;
      padding: 0.5rem 1rem;
      border: solid 1px #ffffff;
    }
    &:hover {
      a {
        background: #ffffff;
        color: #000000;
      }
    }
  }
}
