.banner {
    display: block;
    background: transparent;
    border-radius: .15rem;
    margin: .5rem;
    flex-basis: auto;
    width: 100%;
    @media only screen and (min-width: 1000px) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        flex-basis: 50%;
    }
}

.banner-text {
    margin: .5rem 1.5rem 0 1.5rem;
    color: #ffffff;
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    @media only screen and (min-width: 1000px) {
        margin: 1.5rem;
    }

    h3 {
        margin: 0;
        font-size: 1.1rem;
        text-align: center;
        @media only screen and (min-width: 1000px) {
            font-size: 1.25rem;
        }
    }
}

@keyframes fadein {
    0%{opacity:0;}
    
    100%{opacity:1;}
}
